/* 
    CSS RESET
*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* 
    CUSTOM CSS 
*/
/*

  --- 01 TYPOGRAPHY SYSTEM

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  --- 02 WHITESPACE

    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

section {
  padding: 9.6rem 0;
}

body {
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;
}

.container {
  padding: 3.2rem 2.4rem;
  margin: 0 auto;
  max-width: 100%;
}

/*  -- RESPONSIVITY --  */
@media (max-width: 1024px) {
  .hero--right {
    max-width: 35rem !important;
  }
}
@media (max-width: 885px) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }
  .services {
    flex-wrap: wrap;
    max-width: 80rem;
    justify-content: center !important;
    justify-self: center;
  }
  .work--boxes {
    grid-template-columns: repeat(2, 35rem) !important;
    justify-content: center;
  }
  .testimonial--boxes {
    grid-template-columns: repeat(2, 35rem) !important;
    justify-content: center;
  }
  .footer--items {
    grid-template-columns: none !important;
  }
  .footer--items_left {
    order: 2;
  }
  .footer--items_right input {
    max-width: 50rem !important;
  }
}
@media (max-width: 610px) {
  .work--boxes {
    grid-template-columns: repeat(1, 40rem) !important;
    justify-content: center;
  }
  .testimonial--boxes {
    grid-template-columns: repeat(1, 40rem) !important;
    justify-content: center;
  }
}
@media (max-width: 560px) {
  .hero {
    justify-content: center !important;
  }
  .hero--right {
    display: none;
  }
  .partners--items {
    max-width: 40rem;
    gap: 5.2rem;
    justify-content: center !important;
    justify-self: center;
  }
  .partners--items li > img {
    max-width: 10rem;
  }
}
@media (max-width: 425px) {
  html {
    /* 7px / 16px */
    font-size: 43.75%;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
/*  -- NAVBAR --  */
.nav {
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  font-size: 2rem;
}
.nav--items {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
}

/*  -- HERO --  */
.hero {
  padding-top: 12.8rem;
  padding-bottom: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero--left {
  display: grid;
  gap: 2.4rem;
}
.hero--left span {
  font-size: 2rem;
}
.hero--left h1 {
  font-size: 6.2rem;
}
.hero--left p {
  max-width: 50rem;
  margin-bottom: 2.4rem;
}
.hero--left_cta {
  padding: 2.4rem 6.4rem;
  background: #2d2d2d;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-weight: 600;
}

/*  -- PARTNERS --  */
.partners--items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*  -- SERVICES --  */
.services {
  display: flex;
  gap: 4.8rem;
  justify-content: space-between;
  align-items: center;
}
.services--service {
  display: grid;
  gap: 4.2rem;
}
.services--service img {
  margin: 0 auto;
}
.services--service_info {
  display: grid;
  gap: 1.2rem;
  text-align: center;
  max-width: 30rem;
}

/*  -- WORK --  */
.work {
  display: grid;
  gap: 4.2rem;
}
.work h2 {
  text-align: center;
}
.work--boxes {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(3, 1fr);
}
.work--boxes_item {
  display: grid;
  gap: 2.4rem;
}
.work--boxes_item-info {
  display: grid;
  gap: 0.8rem;
}

/*  -- TESTIMONIAL --  */
.testimonial {
  display: grid;
  gap: 4.2rem;
}
.testimonial h2 {
  text-align: center;
}
.testimonial--boxes {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(3, 1fr);
}
.testimonial--boxes_item {
  display: grid;
  gap: 6.4rem;
  background-color: #f3f3f3;
  padding: 4.2rem;
}
.testimonial--boxes_item p {
  font-weight: bold;
  text-align: justify;
}
.testimonial--boxes_item-client {
  display: flex;
  gap: 1.6rem;
  align-items: start;
}
.testimonial--boxes_item-client-info .stars {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
}

/*  -- FOOTER --  */
.footer {
  display: grid;
  gap: 2.4rem;
}
.footer--items {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(2, 1fr);
}
.footer--items_left {
  display: grid;
  gap: 4.8rem;
}
.footer--items_left p {
  max-width: 55rem;
}
.footer--items_left ul {
  display: flex;
  gap: 2.4rem;
}
.footer--items_right {
  display: grid;
  gap: 1.2rem;
}
.footer--items_right input {
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  padding: 1.6rem 2.4rem;
}
.footer--items_right input::-moz-placeholder {
  color: #2d2d2d;
}
.footer--items_right input::placeholder {
  color: #2d2d2d;
}
.footer--items_right button {
  margin-top: 1.2rem;
  padding: 2.4rem 6.4rem;
  background-color: #2d2d2d;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}/*# sourceMappingURL=styles.css.map */