/* 
    CSS RESET
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* 
    CUSTOM CSS 
*/

/*
   
  --- 01 TYPOGRAPHY SYSTEM
   
    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
   
  --- 02 WHITESPACE
   
    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
   
*/

@mixin flex-space-between($gap: null, $align: false) {
  display: flex;
  justify-content: space-between;

  @if $gap != null {
    gap: $gap;
  }

  @if $align {
    align-items: center;
  }
}

@mixin flex-space-between-align() {
  @include flex-space-between(null, true);
}

@mixin section-styles() {
  display: grid;
  gap: 4.2rem;

  h2 {
    text-align: center;
  }
}

@mixin template-columns-grid($columns: 3) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: 2.4rem;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

section {
  padding: 9.6rem 0;
}

body {
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;
}

.container {
  padding: 3.2rem 2.4rem;
  margin: 0 auto;
  max-width: 100%;
}

/*  -- RESPONSIVITY --  */

@media (max-width: 1024px) {
  .hero {
    &--right {
      max-width: 35rem !important;
    }
  }

  .services {
    justify-content: center !important;
  }
}

@media (max-width: 885px) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }

  .work {
    &--boxes {
      grid-template-columns: repeat(2, 35rem) !important;
      justify-content: center;
    }
  }

  .testimonial {
    &--boxes {
      grid-template-columns: repeat(2, 35rem) !important;
      justify-content: center;
    }
  }

  .footer {
    &--items {
      &_left {
        order: 2;
      }

      &_right {
        justify-self: start !important;
      }

      grid-template-columns: none !important;
      justify-content: start;
    }
  }
}

@media (max-width: 640px) {
  .work {
    &--boxes {
      grid-template-columns: repeat(1, 40rem) !important;
      justify-content: center;
    }
  }

  .testimonial {
    &--boxes {
      grid-template-columns: repeat(1, 40rem) !important;
      justify-content: center;
    }
  }
}

@media (max-width: 560px) {
  .hero {
    justify-content: center !important;

    &--right {
      display: none;
    }
  }

  .partners {
    &--items {
      max-width: 40rem;
      gap: 5.2rem;
      justify-content: center !important;
      justify-self: center;

      li > img {
        max-width: 10rem;
      }
    }
  }
}

@media (max-width: 425px) {
  html {
    /* 7px / 16px */
    font-size: 43.75%;
  }
}

// RESPONSIVE CONTAINER

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/*  -- NAVBAR --  */

.nav {
  @include flex-space-between();

  .logo {
    font-size: 2rem;
  }

  &--items {
    @include flex-space-between(2.4rem);
  }
}

/*  -- HERO --  */

.hero {
  padding-top: 12.8rem;
  padding-bottom: 4.8rem;
  @include flex-space-between-align();

  &--left {
    display: grid;
    gap: 2.4rem;

    span {
      font-size: 2rem;
    }

    h1 {
      font-size: 6.2rem;
    }

    p {
      max-width: 50rem;
      margin-bottom: 2.4rem;
    }

    &_cta {
      padding: 2.4rem 6.4rem;
      background: #2d2d2d;
      width: fit-content;
      color: white;
      font-weight: 600;
    }
  }
}

/*  -- PARTNERS --  */

.partners {
  &--items {
    @include flex-space-between-align();
    flex-wrap: wrap;
  }
}

/*  -- SERVICES --  */

.services {
  @include flex-space-between-align();
  gap: 4.8rem;
  flex-wrap: wrap;

  &--service {
    display: grid;
    gap: 4.2rem;

    img {
      margin: 0 auto;
    }

    &_info {
      display: grid;
      gap: 1.2rem;
      text-align: center;
      max-width: 30rem;
    }
  }
}

/*  -- WORK --  */

.work {
  @include section-styles();

  &--boxes {
    @include template-columns-grid();

    &_item {
      display: grid;
      gap: 2.4rem;

      img {
        width: 100%;
      }

      &-info {
        display: grid;
        gap: 0.8rem;
      }
    }
  }
}

/*  -- TESTIMONIAL --  */

.testimonial {
  @include section-styles();

  &--boxes {
    @include template-columns-grid();

    &_item {
      display: grid;
      gap: 6.4rem;
      background-color: #f3f3f3;
      padding: 4.2rem;

      p {
        font-weight: bold;
        text-align: justify;
      }

      &-client {
        display: flex;
        align-items: start;
        gap: 1.6rem;

        &-info {
          .stars {
            display: flex;
            gap: 0.8rem;
            margin-bottom: 1.2rem;
          }
        }
      }
    }
  }
}

/*  -- FOOTER --  */

.footer {
  display: grid;
  gap: 2.4rem;

  &--items {
    @include template-columns-grid(2);

    &_left {
      display: grid;
      gap: 4.8rem;

      p {
        max-width: 55rem;
      }

      ul {
        display: flex;
        gap: 2.4rem;
      }
    }

    &_right {
      justify-self: end;
      display: grid;
      gap: 1.2rem;

      input {
        min-width: 40rem;
        max-width: 50rem;
        border: none;
        background-color: #f3f3f3;
        padding: 1.6rem 2.4rem;

        &::placeholder {
          color: #2d2d2d;
        }
      }

      button {
        margin-top: 1.2rem;
        padding: 2.4rem 6.4rem;
        background-color: #2d2d2d;
        width: fit-content;
        color: white;
      }
    }
  }
}
